[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
	branch = main
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm
	branch = master
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
	branch = master
[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = main
